.welcome-navbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #283e4a;
    position: fixed;
    top: 0px;
    z-index: 1;
    float: right;
}

.welcome-header{
    position: absolute;
    right: 150px;
    font-size: larger;
    color: #2867B2;
    margin: 1em;

}



.list-logo{
    // content: url(https://i.imgur.com/mtLupon.png);
    content: image_url('Listicon.png');
    position: absolute;
    margin: 0.5em;

}