.login-form-container{
    position: relative;
    margin-left: 20px;
    text-align: center;
    background-color: white;
}

.login-logo{
    content: url(https://i.imgur.com/mtLupon.png);
    display: inline-block;
    height: 20px;
}



.login-welcome-back{
    font-size: 24px;
    background-color: white;
    left: 45%;
    // display: inline-block;
    // text-align: center;
}

.login-form-box{
    font-size: 18pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // text-align: center;
    
}

.dontmiss{
    font-size: 14pt;
    color: rgba(0,0,0,0.6);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-session-submit, .login-session-demo{
    font-size: 16px;
    background-color: #0073b1;
    color: white;
    width: 400px;  height: 3em;
    border-radius: 4px;
}

.login-session-submit:hover , .login-session-demo:hover {
    background-color: #0064b1;
}

.username-error, .password-error{
    color: red;
    font-size: 14px;
}

.new-to-linkedlist{
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.new-join-link{
    font-size: 14pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #0073b1;
}


.new-to-linkedlist, .new-join-link{
    display: inline;
}



.floating-label-wrap{
    position: relative;
    margin-bottom: 0px;
    display: inline-block;
}

.login-input-username{
    position: relative;
    font-size:14pt;
    width: 400px;
    height: 3em;
    padding-left: 0.5em;
    border-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 4px;
}

.login-input-password{
    position: relative;
    font-size:14pt;
    width: 400px;
    height: 3em;
    padding-left: 0.5em;
    border-style: solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 4px;
}


.login-username-label{
    position: absolute;
    top: 0;
    padding: 1px 0 0 13px;
    transition: all 200ms;
    opacity: 1;
    top: 20px;
    background-color: transparent;
    font-size: 20px;
}

.login-password-label{
    position: absolute;
    top: 0;
    padding: 1px 0 0 13px;
    transition: all 200ms;
    opacity: 1;
    top: 20px;
    background-color: transparent;
    font-size: 20px;
}


.login-input-username:focus + .login-username-label,
.login-input-username:valid + .login-username-label{
  font-size: 50%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.login-input-password:focus + .login-password-label,
.login-input-password:valid + .login-password-label{
// .login-input-password:focus + .login-password-label{
  font-size: 50%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}