.header-logo{
    content: url(https://i.imgur.com/mtLupon.png);
    position: absolute;
    left: 50px;
}



.welcome-message{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 400px;
    max-width: 400px;
    margin-left: 50px;
    color: #2867B2;
    font-size: 40px;
    white-space: initial;
}

body{
    margin-top: 10px;
    height: 1500px;
}


.splash_pic1{
    position: absolute;
    right: 100px;
    top: 100px;
    width: 600px;
    // z-index: -1;
    display: flex;
}

.splash_pic2{
    margin-top: 700px;
}

